<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand mr-5" routerLink='/'>The Movies App</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navToggler" [class.collapse]="collapsed" (window:resize)="collapsed = true">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/movies">Home</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/add">Add movie</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/top" disabled>Top 5</a>
			</li>
		</ul>
	</div>
</nav>