<div class="text-right">
	<a [routerLink]="['/add']" class="btn btn-primary ml-auto">Add new movie</a>
</div>

<div class="custom-card">
	<div class="custom-card__header">
		<h1 class="custom-card__title">
			{{movie.title}}
		</h1>
		<span class="custom-card__release">
			RELEASE DATE: {{movie.release | date}}
		</span>
	</div>
	<div class="custom-card__body">
		<div class="custom-card__image">
			<img class="img-fluid" [src]='safeImage' alt="">
		</div>
		<p class="custom-card__description">
			{{movie.description}}
		</p>
	</div>
</div>