@import "../../../assets/less/_colors.less";

.custom-card{
	&__description{
		margin: 15px 0 0
	}

	&__image{
		max-width: 250px;
	}

	&__release{
		color: @gray;
		font-size: 14px;
	}

}