<div [routerLink]="[index]" class="movie-item movie-item__card" routerLinkActive="active">
	<div class="movie-item__data">
		<p class="movie-item__title">{{movie.title}}</p>
		<span class="movie-item__description">Release Date: {{movie.release | date}}</span>
	</div>
	<div class="movie-item__remove" (click)="removeItem(index)">
		<i class="fa fa-trash"></i>
	</div>
</div>