@import "../../../../assets/less/_colors.less";
@import "../../../../assets/less/_mixins-flexbox.less";

.movie-item{
	background-color: @white;
	border-radius: 5px;
	box-shadow: 1px 3px 6px 2px @light-gray;
	cursor: pointer;
	.flex-display();
	margin-bottom: 20px;
	outline: none;
	padding: 8px;
	text-decoration: none;
	width: 100%;

	&.active{
		background-color: fade(@green, 20%);
	}
	&:not(.active):hover{
		background-color: fade(@light-gray, 20%);
	}

	&__data{
		.flex-grow(1);
		margin-right: 10px;
	}

	&__description{
		color: @gray;
	}

	&__remove{
		.align-items(center);
		color: @gray;
		.flex-display();
		font-size: 20px;

		&:hover{
			color: @black;
		}
	}

	&__title{
		color: @black;
		font-size: 16px;
		font-weight: bold;
		margin: 0;
	}
}