@import "../../../assets/less/_colors.less";
@import "../../../assets/less/_mixins-flexbox.less";

.movie-list{
	&__empty{
		.align-items(center);
		.flex-direction(column);
		.flex-display();
		height: 400px;
		.justify-content(center);

		i{
			color: @light-gray;
			font-size: 100px;
			margin-bottom: 40px;
		}

		&__text{
			color: @black;
			font-size: 16px;
		}
	}
}