<div *ngIf="!movies.length > 0; else movieList" class="col-12">
	<div class="movie-list__empty">
		<i class="fa fa-exclamation-triangle"></i>
		<span class="movie-list__empty__text">Your movie list is currently empty, please <a routerLink="/add">add</a> some movies and then come back!</span>
	</div>
</div>
<ng-template #movieList>
	<div class="col-12 col-md-4">
		<movie-item *ngFor="let movie of movies; let i = index" [movie]='movie' [index]='i'></movie-item>
	</div>
	<div class="col-12 col-md-8">
		<router-outlet></router-outlet>
	</div>
</ng-template>