/* MIXINS FOR FLEX */

// Set display
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box";
	display: ~"-ms-@{display}";
	display: @display;
}

// Set direction
.flex-direction(@direction: row) {
	-webkit-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}

// Set wrap
.flex-wrap(@wrap: nowrap) {
	-webkit-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}
.flex-wrap(@wrap) when (@wrap = nowrap) {
	-ms-flex-wrap: none;
}
// Set flow
.flex-flow(@flow: row wrap){
	-webkit-flex-flow: @flow; /* Safari 6.1+ */
	-moz-flex-flow: @flow; /* Safari 6.1+ */
	flex-flow: @flow;
}

// Set order
.flex-order(@order: 0) {
	-webkit-order: @order;
	-ms-order: @order;
	order: @order;
}

// Set grow
.flex-grow(@grow: 0) {
	-webkit-flex-grow: @grow;
	-ms-flex-grow: @grow;
	flex-grow: @grow;
}

// Set justify content
.justify-content(@justify: flex-start) {
	-webkit-justify-content: @justify;
	-ms-justify-content: @justify;
	justify-content: @justify;
}
.justify-content(@justify) when (@justify = flex-start) {
	-ms-flex-pack: start;
}
.justify-content(@justify) when (@justify = flex-end) {
	-ms-flex-pack: end;
}
.justify-content(@justify) when (@justify = space-between) {
	-ms-flex-pack: justify;
}

// Set align items
.align-items(@align: flex-start) {
	-webkit-align-items: @align;
	-ms-align-items: @align;
	align-items: @align;
}
.align-items(@align-item) when (@align-item = flex-start) {
	-ms-flex-align: start;
}
.align-items(@align-item) when (@align-item = flex-end) {
	-ms-flex-align: end;
}
.align-items(@align-item) when (@align-item = stretch) {
	-ms-flex-align: stretch;
}

// Set align self
.align-self(@align: auto) {
	-webkit-align-self: @align;
	-ms-align-self: @align;
	align-self: @align;
}
.align-self(@align-self) when (@align-self = flex-start) {
	-ms-flex-item-align: start;
}
.align-self(@align-self) when (@align-self = flex-end) {
	-ms-flex-item-align: end;
}

.flex-basis(@width: auto) {
	-webkit-flex-basis: @width;
	-ms-flex-basis: @width;
	flex-basis: @width;
}