<form (ngSubmit)="addMovie()" #registerMovieForm="ngForm" class="form custom-card">
	<div class="custom-card__header">
		<h1 class="custom-card__title">Add Movie</h1>
		<input type="submit" value="Save Movie" class="btn btn-primary" [disabled]="!movieForm.valid || movie.release == 'Invalid Date' || movie.release == ''"/>
	</div>
	<div class="custom-card__body">
		<div class="form__row">
			<div class="form__row__field">
				<div class="input__floatText">
					<input type="text" id="title" class="input__floatText__input" name="title" #title="ngModel" [(ngModel)]="movie.title" required/>
					<label for="title" class="input__floatText__label">Movie Title</label>
					<div class="input__floatText__error" *ngIf="!title.valid && title.touched">This field is required</div>
				</div>
			</div>

			<div class="form__row__field">
				<div class="input__floatText">
					<input type="date" id="release" class="input__floatText__input" name="release" #release="ngModel" [(ngModel)]="movie.release" date required/>
					<label for="release" class="input__floatText__label">Release Date</label>
					<div class="input__floatText__error" *ngIf="(movie.release == 'Invalid Date' || movie.release == '') && release.touched">This field is required</div>
				</div>
			</div>

			<div class="form__row__field">
				<div class="input__file">
					<input type="file" id="image" class="input__file__input" name="image" #image="ngModel" [(ngModel)]="movie.image" (change)="convertToBase64($event)" required accept="image/jpeg, image/jpg, image/png" file/>
					<label for="image" class="input__file__label" (click)="touchImageInput()">Movie Image</label>
					<div class="input__file__span">{{movie.image}}</div>
					<div class="input__floatText__error" *ngIf="!image.valid && image.touched">This field is required</div>
				</div>
			</div>
		</div>
		<div class="form__row">
			<div class="input__textArea">
				<textarea id="description" name="description" #description="ngModel" class="input__textArea__input" [(ngModel)]="movie.description" [class.fulfilled]="movie.description"></textarea>
				<label for="description" class="input__textArea__label">Description</label>
			</div>
		</div>
	</div>
</form>