@import "../../../assets/less/_colors.less";
@import "../../../assets/less/_mixins-flexbox.less";

.form{
	&__row{
		.flex-display();
		.justify-content(space-between);

		@media(max-width: 576px){
			.flex-direction(column)
		}

		&__field{
			.flex-basis(30%);
		}
	}
}

.custom-card{
	&__body{
		padding-top: 72px;
	}
}