@import "./assets/less/_colors.less";
@import "./assets/less/_mixins-flexbox.less";

.custom-card{
	border: 1px solid fade(@gray, 50%);
	border-radius: 5px;
	margin-top: 20px;

	&__body{
		padding: 16px 16px 48px;
	}

	&__header{
		.align-items(center);
		background-color: fade(@light-gray, 20%);
		.flex-display();
		.justify-content(space-between);
		padding: 16px;
	}

	&__title{
		color: @black;
		font-size: 20px;
		font-weight: bold;
		margin: 0;
	}
}


.input{
	&__file{
		height: 28px;
		margin-bottom: 52px;
		position: relative;

		&__input{
			display: none;

			&:focus,
			&:valid{
				& + label{
					background-color: transparent;
					color: @black;
					font-size: 12px;
					font-weight: bold;
					left: 0;
					padding-bottom: 28px;

					&:after{
						content: ":"
					}
				}

				& ~ div{
					border-color: @green;
				}
			}
		}

		&__label{
			background-color: @white;
			bottom: 2px;
			color: @gray;
			font-size: 16px;
			font-weight: normal;
			left: 5px;
			margin: 0;
			position: absolute;
			transition: 0.3s;
			width: 100%;
		}

		&__span{
			border-bottom: 2px solid @light-gray;
			height: 100%;
			transition: 0.3s;
			width: 100%;
		}
	}

	&__floatText{
		margin-bottom: 52px;
		outline: none;
		position: relative; 

		&__error{
			color: @red;
			font-size: 12px;
			position: absolute;
		}

		&__input{
			border: none;
			border-bottom: 2px solid @light-gray;
			color: @black;
			font-size: 16px;
			outline: none;
			padding-left: 5px;
			transition: 0.3s;
			width: 100%;

			&:focus,
			&:valid{
				border-color: @green;

				& + label{
					bottom: 28px;
					color: @black;
					font-size: 12px;
					font-weight: bold;
					padding: 0;
					width: auto;

					&:after{
						content: ":"
					}
				}
			}
		}

		&__label{
			background-color: @white;
			bottom: 2px;
			color: @gray;
			font-size: 16px;
			font-weight: normal;
			left: 0;
			margin-bottom: 0;
			padding-left: 5px;
			position: absolute;
			transition: 0.3s;
			width: 100%;
		}
	}

	&__textArea{
		position: relative;
		width: 100%;
	
		&__input{
			color: @black;
			font-size: 16px;
			height: 150px;
			outline: none;
			padding: 5px;
			width: 100%;

			&:focus,
			&.fulfilled{
				& + label{
					color: @black;
					font-size: 12px;
					font-weight: bold;
					left: 0;
					top: -24px;

					&:after{
						content: ":"
					}
				}
			}
		}

		&__label{
			background-color: @white;
			color: @gray;
			font-size: 16px;
			font-weight: normal;
			left: 5px;
			line-height: 1;
			margin: 0;
			position: absolute;
			top: 5px;
			transition: 0.3s;
		}
	}
}