<div class="d-sm-flex justify-content-between">
	<h1 class="page__title">TOP 5 Movies</h1>
	<div class="page__view" *ngIf="!requestError">
		<div class="page__view__selector d-none d-lg-flex" (click)="viewType = 'list'" [class.active]="viewType === 'list'">
			<i class="fa fa-list-ul"></i>
		</div>
		<div class="page__view__selector" (click)="viewType = 'grid'" [class.active]="viewType === 'grid'">
			<i class="fa fa-th-large"></i>
		</div>
	</div>
</div>

<div [class.custom-card]="viewType === 'list'" [class.grid]="viewType === 'grid'" [class.row]="viewType === 'grid'" *ngIf="!requestError; else errorTemplate">
	<div *ngFor="let movie of movies" [class.col-12]="viewType === 'grid'" [class.col-sm-6]="viewType === 'grid'" [class.col-md-4]="viewType === 'grid'" [class.top-movie__container]="viewType === 'list'">
		<div class="top-movie">
			<div class="top-movie__image__container">
				<img [src]="movie.image" class="top-movie__image"/>
			</div>

			<div class="top-movie__content">
				<h2 class="top-movie__title">{{movie.title}}</h2>
				<span class="top-movie__release">{{movie.release | date}}</span>
				<p class="top-movie__description">{{movie.description}}</p>
			</div>
		</div>
	</div>
</div>

<ng-template #errorTemplate>
	<div class="page__error">
		<div class="alert alert-danger" role="alert">{{requestError}}</div>
	</div>
</ng-template>