@import '../../../assets/less/_colors.less';
@import '../../../assets/less/_mixins-flexbox.less';

.custom-card{
	.top-movie{
		.flex-display();

		&__container{
			padding: 12px;

			&:not(:last-child){
				border-bottom: 1px solid @light-gray;
			}
		}

		&__content{
			padding: 8px 32px 8px 0;
		}

		&__description{
			color: @black;
			font-size: 16px;
			margin-bottom: 0;
			margin-top: 14px;
		}

		&__image{
			margin-right: 44px;
		}

		&__release{
			color: fade(@gray, 70%);
			font-size: 16px;
			font-style: italic;
		}

		&__title{
			color: @black;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
}

.grid{
	margin-top: 20px;

	& > div{
		margin-bottom: 16px
	}

	.top-movie{
		border: 1px solid @light-gray;
		height: 100%;
		padding: 12px;

		&__description{
			color: @black;
			font-size: 16px;
			margin: 0;
		}

		&__image{
			&__container{
				margin-bottom: 16px;
				text-align: center;
			}
		}

		&__release{
			color: fade(@gray, 70%);
			font-size: 14px;
			font-style: italic;
		}

		&__title{
			font-size: 22px;
		}
	}
}

.page{
	&__error{
		margin-top: 20px;
	}
	
	&__head{
		.flex-display();
		.justify-content(space-between);
	}

	&__title{
		color: @black;
		margin-bottom: 28px;
	}

	&__view{
		.align-self(flex-end);
		.flex-display();

		&__selector{
			.align-items(center);
			border: 1px solid @light-gray;
			color: fade(@gray, 70%);
			.flex-display;
			font-size: 24px;
			height: 40px;
			.justify-content(center);
			width: 40px;

			&.active{
				background-color: fade(@green, 20%);
			}

			&:not(.active):hover{
				cursor: pointer;
			}

			&:not(:last-child){
				margin-right: 8px;
			}
		}
	}
}