@import "../../../assets/less/_colors.less";

.movie-empty{
	text-align: center;

	&__icon{
		color: @yellow;
		font-size: 100px;
	}

	&__message{
		color: @black;
		font-size: 16px;
	}
}